    head {
        font-family: Helvetica, sans-serif
    }
    body {
        background-color: #ffe880;
        font-family: Helvetica, sans-serif
    }

    .button {
        display: incline-block;
        padding: 10px 20px;
        background-color: black;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }
